<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="dbProjectGoolib.Properties.Settings.ConnectionString"
        connectionString="DATA SOURCE=10.60.42.214/Library;PASSWORD=googlecamp;USER ID=SCOTT"
        providerName="Oracle.DataAccess.Client" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
